* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #FAFAFA;
}

#Logo {
    position: absolute;
    width: 210px;
    height: 64.62px;
    left: 51px;
    top: 35px;
}

.containermenu {
    position: absolute;
    display: flex;
    height: 725px;
    left: 85px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #263238;
    line-height: 130px;
    top: 50px;

}

#meuPerfil {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 123px;
    top: 150px;
}

#gruposLeitura {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 123px;
    top: 275px;
}

#Wishlist {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 123px;
    top: 400px;
}

#minhasLeituras {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 123px;
    top: 535px;
}

.Main {
    position: absolute;
    width: 1150px;
    height: 600px;
    left: 300px;
    top: 81px;
    background: rgba(217, 217, 217, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
