* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #5D2983;
}

section .container {
    display: flex;
    align-items: center;
    padding: 18px 40px;
    width: 100%;
    position: flex;
}

.container-buttons{
    position: relative;
    left: 60%;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text {
    max-width: 37rem;
}

#titulo_home {
    font-size: 50px;
    margin-bottom: 16px;
    line-height: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#texto_home {
    width: 564px;
    margin-bottom: 16px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home-img {
    width: 100%;
}

.button-entrar {
    width: 188px;
    height: 55px;
    background: rgba(255, 109, 85, 0.7);
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-cadastrar {
    width: 205px;
    height: 55px;
    background: rgba(93, 41, 131, 0.5);
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width:785px) {
    .container {
        padding: 18px 20px;
        position: block;
        flex-direction: column;
        text-align: center;
    }

    .container-buttons{
        position: relative;
        left: 5%;
        align-items: center;
        padding: 10%;
    }
   
    /*main*/
    .home {
        padding: 100px 10%;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        display: flex;       
   }

    #titulo_home {
        font-size: 24px;
        line-height: 48px;
        text-align: center;      
    }

    #texto_home p {
        font-size: 5px;
        text-align: center;
       
    }

    .container-home-img {
        width: -15%;
        align-items: center;
        display: flex; flex-wrap: wrap;

    }

    #logo {
        position: relative;
        left: 5%;
        top: 50%;
        align-items: center;
    }
}

@media (max-width:600px) {

    #img_home {
        max-width:400px;
        max-height:300px;
        width: auto;
        height: auto;        
    }

    #titulo_home{
              
        margin: 0 calc((100% - 377px) / 2);
        top: 50px;      
    }    

    #texto_home{
        margin: 0 calc((10% - 100px) / 2); 
         width: 380px;
         font-size: 20px;
         padding: 10%;
    }
}
@media (max-width:600px) {

    #img_home {
        max-width:400px;
        max-height:300px;
        width: auto;
        height: auto       
    }

    #titulo_home{
              
        margin: 0 calc((100% - 377px) / 2);
        top: 50px;
       
    }
    
    #texto_home{
        margin: 0 calc((10% - 100px) / 2); 
         width: 380px;
         font-size: 20px;
         padding: 10%;
    }   
}

@media (max-width:376px) {

    #img_home {
        max-width:400px;
        max-height:300px;
        width: auto;
        height: auto;       
    }

    #titulo_home{             
        margin: 0 calc((100% - 377px) / 2);
        top: 50px;       
    }
    
    #texto_home{
        display: none;
    }
}