* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif;
}


.logo {
   
    width: 242.87px;    
    top: 35px;
    display: flex;
    justify-content: center;
    position:absolute;
    
}

.imagem {
    display: flex;
    justify-content: right;
  
}

.img-aside {
    width: 387px;
    height: 391px;
    top: 591px;
    left: 1292px;
    position: absolute;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container {
    background-color: rgba(93, 41, 131, 0.75);
    border-radius: 15px;
    width: 600px;
    height: 719px;
    left: 456px;
    top: 201px;
    overflow: hidden;
  
}

.header {
    width: 425px;
    height: 48px;
    top: 240px;
    left: 519px;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    align-items: center;
    padding: 20px;
    padding-bottom: 15px;
   
}

.form {
    padding: 15px;
    padding-top: 25px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
}

.form-control input {
    padding: 20px;
    
}

#username {
    width: 472px;
    height: 41px;
    top: 327px;
    left: 520px;
    border-radius: 15px;
    background: #ffffff;
    border:2px solid  #37474f;
    font-size: 15px;
    font-weight: 800;
    line-height: 18.15px;
    color: rgba(55, 71, 79, 0.7);
    
    
}



.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    font-weight: 500;
    visibility: hidden;
    
}

#email {
    width: 472px;
    height: 41px;
    top: 390px;
    left: 520px;
    border-radius: 15px;
    box-sizing: border-box;
    background: #ffffff;
    border: 2px solid #37474f;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    color: rgba(55, 71, 79, 0.7);
    display: block;

}

#password {
    width: 227px;
    height: 41px;
    top: 449px;
    left: 520px;
    border-radius: 15px;
    background: #ffffff;
    border: 2px solid #37474f;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    color: rgba(55, 71, 79, 0.7);
}

#password-confirmation {
    width: 227px;
    height: 41px;
    top: 449px;
    left: 765px;
    border-radius: 15px;
    background: #ffffff;
    border: 2px solid #37474f;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    color: rgba(55, 71, 79, 0.7);
    

}


#date {
    width: 300px;
    height: 32.06px;
    top: 550px;
    left: 520px;
    border-radius: 15px;
    border: 2px solid rgba(55, 71, 79, 0.7);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    font-style: normal;
}



.form-check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    width: 472px;
    height: 41px;
    top: 640px;
    left: 519px;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    color: #ffffff;
    
    

}


h3 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

.alerta-container {
    display:flex;
    justify-content: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    padding-top: 28px;
    
    
}

.button-container {
    display:flex;
    justify-content: center;
    padding-top: 30px;
    
}

.button-container button {
    background-color: rgba(255, 109, 85, 0.65);
    border-radius: 30px;
    box-shadow: rgba(93, 41, 131, 0.75);
    width: 292px;
    height: 59px;
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    line-height: 29px;
    cursor: pointer;
    text-shadow: 0px 4.77482px 4.77482px rbga(0, 0, 0, 0.25);

}

/* Error and Success */

.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  .form-control.error small {
    visibility: visible;
    color: #ffffff;
    
  }


  @media screen and (max-width: 1024px) {
    .logo {
        visibility: hidden
    }

  }

  @media screen and (max-width: 1024px){
    .img-aside {
        visibility: hidden;
        
    }
  }
  